{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block content %}
<article>
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.date %}
  <p class="meta">
    <span><span class="mark">+</span> <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time></span>
    <span>{{ page.reading_time }} min read</span>
    {%- if page.taxonomies.tags %}
    <span>
      {%- for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
      {%- endfor %}
    </span>
    <span class="human">All content is written by a human (unless stated otherwise)</span>
    {%- endif %}
  </p>
  {% endif %}
  <div class="prose">{{ page.content | safe }}</div>
</article>
{% endblock content %}
