{% extends "index.html" %}

{% block content %}

  {# TODO: https://bulma.io/documentation/layout/tiles/ #}
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">cargo-msrv</p>
            <p class="subtitle">Find the minimum supported Rust version (MSRV) for your project</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">parameterized</p>
            <p class="subtitle">JUnit style parameterized testing for Rust</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">rust-releases</p>
            <p class="subtitle">Identify the officially available Rust releases</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">storyteller</p>
          <p class="subtitle">A library for working with user output</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">bisector</p>
          <p class="subtitle">Flexible, stateless implementation of the bisection method</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>

{% endblock content %}